{% extends 'home.html' %}
{% block title %}
<title>Display page</title>
{% endblock %}
{% block content %}
<h3>Total Registration Details:</h3>
<table border="">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email Address</th>
        <th>Date and Time</th>
        <th>Mobile Number</th>
        <th>Course detail</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    {% for data in object %}
    <tr>
    <td>{{data.name}}</td>
        <td>{{data.age}}</td>
        <td>{{data.email}}</td>
        <td>{{data.datetime}}</td>
        <td>{{data.mobile}}</td>
        <td>{{data.course}}</td>
        <td>{{data.address}}</td>
        <td>
            <a href="/edit/{{data.id}}">Edit</a>
        </td>
        <td>
            <a href="/remove/{{data.id}}">Remove</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}